a{
    padding-top: 50px;
    text-decoration: none;
    padding: 200px;
    color: rgb(23, 21, 23);
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

img{
    height: 500px;
    width: 300px;
}

h2{
    text-align: center;
    clear: left;
    font-size: 45px;
    font-family: cursive;
}

/* Raiden Shogun */
.container {
    overflow: auto;
     border: 3px solid; 
}

.container p{
    padding-top: 5em;
    font-size: larger;
    font-family: cursive;
}

.container img {
    padding: 8px;
    float: left;
}

/* Nahida */
.container2 {
    overflow: auto;
     border: 3px solid;
    
}

.container2 p{
    padding-top: 5em;
    font-size: larger;
    font-family: cursive;
}

.container2 img {
    padding: 8px;
    float: left;
}

/* Zhongli */
.container3 {
    overflow: auto;
     border: 3px solid;
    
}

.container3 p{
    padding-top: 7em;
    font-size: larger;
    font-family: cursive;
}

.container3 img {
    padding: 8px;
    float: left;
}

/* Venti */
.container4 {
    overflow: auto;
     border: 3px solid;
    
}

.container4 p{
    padding-top: 3px;
    font-size: larger;
    font-family: cursive;
}

.container4 img {
    padding: 8px;
    float: left;
}


/* Furina */
.container5 {
    overflow: auto;
     border: 3px solid;
    
}

.container5 p{
    padding-top: 6em;
    font-size: larger;
    font-family: cursive;
}

.container5 img {
    padding: 8px;
    float: left;
}
